html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hr-text {
  position: relative;
  text-align: center;
  margin: 20px 0;
  width: 100%;
  color: black;
  size: 1px;
  font-size: 1.5em;
}

.hr-text:before {
  content: "";
  height: 1px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

.hr-text span {
  background: white;
  padding: 0 10px;
  position: relative;
}

.parent {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(15%, 1fr)); */
  grid-template-rows: repeat(4, 1fr);
  /* grid-template-rows: minmax(auto-fit, minmax(50%, 1fr)); */
  grid-column-gap: 35px;
  /* grid-row-gap: 35px !important; */
  /*		border-style: solid;
		border-color: black;*/
  padding: 20px;
  /* max-height: calc(100vh - 60px); */
  height: calc(100vh - 60px);
  /* overflow: hidden !important; */
}

.child br {
  display: none;
}

.child {
  /*			border-style: solid;
			border-color: black;*/
  text-align: center;

  /* height: 225px; */
  height: calc(((100vh - 60px) / 4) - 55px);
  background-color: yellow;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
overflow: hidden;


}
.control br{
  display: none;

}
.control{
  font-size: 1.2em !important;

}
.child img {
  height: 50% !important;
  padding-bottom: 2px;
}

.child:hover{
  border-color: blue !important;
  border-width: thick; 
  opacity: 0.9;
  /* cursor: url("./images/cross-hair2.svg"), auto; */

}

.control:hover{
  border-color: blue !important;
  border-width: thick; 
  /* cursor: url("./images/cross-hair2.svg"), auto; */
}


.control {
  /*			border-style: solid;
			border-color: black;*/
  text-align: center;
  /* height: 150px; */
  height: calc(((100vh - 60px) / 4) - 55px);
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control img {
  height: 50% !important;
}

h1 {
  text-align: center;
  font-size: 1.2em;
  font-family: sans-serif;
  margin-bottom: 2px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

/* .cross-hair{
position: absolute;
top: 50%; right: 50%;
  transform: translate(50%,-50%);
  opacity: 0;
  height: 30px;
  width: 30px;
 
} */

@media only screen and (min-width: 2500px) {
  .child {
    font-size: 3em;
  }
  .control{
    font-size: 3em !important;
  }
}